:root {
  // цвета
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-accent: #1dd161;
  --color-gradient-primary: #03cf54;
  --color-gradient-secondary: #04ff96;


  --font-family-base: "TT Firs Neue", sans-serif;
  --font-weight-base: 400;
}
