:root {
  // цвета
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-accent: #1dd161;
  --color-gradient-primary: #03cf54;
  --color-gradient-secondary: #04ff96;

  // тени
  --box-shadow-1: 0 0 2px 4px rgb(0 0 0 / 0.5);

  // параметры шрифта
  --font-family-base: "TT Firs Neue", sans-serif;
  --font-weight-base: 400;


  //  вертикальные отступы между секциями
  // параметры transition-переходов
  --transition-timing-function: ease-in;
  --transition-duration: 0.2s;

  // --container-padding: 20px;
  // --card-gap: 16px;
  // --border-radius: 8px;
  // --custom-border: 8px solid #ffffff;
}
