.advantage {
  position: relative;
  z-index: 1;

  @media (min-width: 1440px) {
    grid-column: 1 / 2;

    &:nth-child(even) {
      grid-column: 3 / 4;
    }
  }
}

.advantage__title {
  position: relative;
  margin: 0;
  padding: 24px 0 15px 58px;
  text-align: right;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 24px;
  line-height: 32px;

  &::after {
    content: "";
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background:
      url("../../images/advantages/icon-background.png")
      center
      no-repeat;
    border-radius: 16px;
  }

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    background:
      center
      no-repeat;
    z-index: 1;
  }

  @media (min-width: 768px) {
    text-transform: uppercase;
  }

  &--advising::before,
  &--value::before {
    background-image: url("../../icons/stack.svg#like");
  }

  &--diversity::before,
  &--research::before {
    background-image: url("../../icons/stack.svg#part");
  }

  &--team::before,
  &--community-mobile::before {
    background-image: url("../../icons/stack.svg#man");
  }

  &--marketing::before,
  &--community-desktop::before {
    background-image: url("../../icons/stack.svg#earth");
  }
}

.advantage__description {
  font-size: 16px;
  line-height: 32px;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}
