.advantages {
  position: relative;
}

.advantages-title__wrapper {
  position: relative;
  min-height: 470px;

  &::after {
    content: "";
    display: block;
    width: 3px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    box-shadow: 0 0 540px 200px rgba(3, 207, 84, 0.302);
    border-radius: 50%;
  }

  @media (min-width: 1440px) {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::after {
      box-shadow: 0 40px 1000px 400px rgba(3, 207, 84, 0.302);
    }
  }
}

.advantages__title {
  position: relative;
  margin: 0 auto;
  padding: 235px 0 130px;
  width: fit-content;
  max-width: 250px;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 42px;
  color: #1F322F;

  &::before {
    content: "";
    display: block;
    width: 285px;
    height: 276px;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    background:
      image-set(url("../../images/advantages/cucumber-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/advantages/cucumber-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/advantages/cucumber-mobile@2x.png") type("image/png") 2x,
      url("../../images/advantages/cucumber-mobile@1x.png") type("image/png") 1x)
      center
      no-repeat;
    z-index: -1;
  }

  @media (min-width: 1440px) {

    max-width: 400px;

    font-size: 56px;
    line-height: 72px;

    &::before {
      width: 515px;
      height: 498px;
      top: 10%;
      background:
      image-set(url("../../images/advantages/cucumber-desktop@2x.webp") type("image/webp") 2x,
      url("../../images/advantages/cucumber-desktop@1x.webp") type("image/webp") 1x,
      url("../../images/advantages/cucumber-desktop@2x.png") type("image/png") 2x,
      url("../../images/advantages/cucumber-desktop@1x.png") type("image/png") 1x)
      center
      no-repeat;
    }
  }
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 50px;

  @media (min-width: 576px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 182px 21px;
  }
}
