.main-footer {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 61px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  @media (min-width: 1440px) {
    padding: 60px 0;
    gap: 118px;
  }
}

.main-footer__contacts {
  @media (min-width: 768px) {
    grid-column: 1 / 2;
    max-width: 340px;
  }

  @media (min-width: 1440px) {
    max-width: 354px;
  }
}

.main-footer__social {
  @media (min-width: 768px) {
    grid-column: 3 / 4;
    max-width: 410px;
  }

  @media (min-width: 1440px) {
    max-width: 452px;
    margin-right: 100px;
  }
}

.main-footer__copyright {
  padding-top: 22px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);

  @media (min-width: 768px) {
    grid-column: 1 / -1;
  }
}
