.page__advantages {
  @media (min-width: 1440px) {
    margin: 0 auto;
    max-width: 1440px;
  }
}

.page__news-list {
  @media (min-width: 1440px) {
    margin: 0 auto;
    max-width: 1440px;
  }
}
