.social__title {
  margin: 0;
  font-size: 32px;
  line-height: 72px;

  @media (min-width: 1440px) {
    margin-bottom: 16px;
    font-size: 40px;
  }
}

.social__text {
  margin: 0 0 32px;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: 1440px) {
    margin-bottom: 64px;
    font-size: 20px;
  }
}

.social__list {
  @include list-reset;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 1440px) {
    gap: 32px;
  }
}

.social__link {
  @include link;
  position: relative;
  width: 100%;
  padding: 24px 60px 24px 24px;
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 16px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.5px;
    border-radius: inherit;

    background:
      linear-gradient(
        43.28deg,
        rgba(58, 193, 253, 0.16) 13.48%,
        rgba(255, 255, 255, 0) 90.75%
      ),
      linear-gradient(
        43.28deg,
        rgba(255, 255, 255, 0) 13.48%,
        rgba(255, 255, 255, 0.16) 90.75%
      );

    mask:
      linear-gradient(#ffffff 0 0) content-box,
      linear-gradient(#ffffff 0 0);
    mask-composite: exclude;

    pointer-events: none;
  }

  &::after {
    content: "";
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    background-repeat: no-repeat;
  }

  &--telegram::after {
    background-image: url("../../icons/stack.svg#telegram-blue");
  }

  &--twitter::after {
    background-image: url("../../icons/stack.svg#twitter");
  }
}

.social__link h3 {
  margin: 0;
  color: var(--color-secondary);
  font-size: 24px;
  line-height: 32px;
}

.social__link span {
  font-size: 18px;
  line-height: 32px;
  background: linear-gradient(257.59deg, #03cf54 2.41%, #04ff96 100%);
  background-clip: text;
  color: transparent;
}
